

<div class="banner">
  <div class="banner-content text-center">
    <h1>cocktails fever</h1>
    <p>Create your own cocktail, and enjoy recipes of Mojito</p>
    <%= simple_form_for @cocktail, wrapper: :inline_form, html: { class: 'form-inline' } do |f| %>
      <%= f.input :name, label: false, placeholder: "cocktail name" %>
      <%= f.input :photo %>
      <%= f.input :photo_cache, as: :hidden %>
      <%= f.submit "Add", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>


<div class="container">

    <div id="title-search">
      <h2>Last added cocktails</h2>
      <form action="">
        <input type="text" name="search" id="search" placeholder="Search a cocktail">
        <input type="submit" value="ðŸ”">
      </form>
    </div>
    <div class="cocktail-grid">
      <% @cocktails.reverse.each do |cocktail| %>
        <div class="card-cocktail" style="background-image: url('<%= cl_image_path cocktail.photo, height: 300, width: 400, crop: :fill %>')">
          <div class="card-cocktail-name">
            <p><%= link_to cocktail.name, cocktail_path(cocktail.id) %></p>
            <ul>
              <% cocktail.reviews.each do |review| %>
                <li>
                  <p><%= review.rating %></p>
                </li>
              <% end %>
            </ul>
          </div>
          <div class="card-cocktail-delete">
            <p><%= link_to "ðŸ—‘", cocktail_path(cocktail),
                method: :delete,
                data: { confirm: "Are you sure?" } %></p>
          </div>
        </div>
      <% end %>
    </div>


</div>

<!-- https://source.unsplash.com/<%#=rand(300..350) %>x300/?cocktail -->


